<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mercadolivreauad"
        tools:targetApi="31">

        <activity android:name=".ListActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DetailActivity" android:exported="true"/>
    </application>

</manifest>

<!--ListView de Produtos:-->

<!--Crie uma interface com um ListView que exiba uma lista de produtos disponíveis para compra.-->
<!--Cada item deve incluir:-->
<!--Nome do produto;-->
<!--Preço;-->
<!--Miniatura de imagem do produto;-->
<!--Avaliação ou classificação (ex.: estrelas ou texto breve).-->
<!--Tela de Detalhes do Produto:-->

<!--Ao clicar em um item da lista, o aplicativo deve exibir uma nova tela com mais informações sobre o produto, incluindo:-->
<!--Nome;-->
<!--Imagem maior;-->
<!--Descrição detalhada;-->
<!--Preço;-->
<!--Botão "Adicionar ao Carrinho" (não precisa implementar a funcionalidade de carrinho, apenas exibir o botão).-->
<!--Dados Mockados:-->

<!--Utilize dados fictícios e armazenados localmente (não é necessário acessar APIs ou serviços externos).-->
<!--Personalização:-->

<!--Personalize o design da interface para simular um aplicativo de e-commerce de sua preferência. Informe ao professor qual aplicativo foi escolhido como inspiração.-->